name: Github Actions

on: [push]

jobs:
  run-github-actions:
    runs-on: ubuntu-latest
    steps:
      - name: list file
        run: |
          pwd
          ls -a
      - name: Checkout
        uses: actions/checkout@v1
      - name: list file after Checkout
        run: |
          pwd
          ls -a
      - name: Simple JS Actions
        id: greet
        uses: actions/hello-world-javascript-action@v1
        with:
          who-to-greet: Bhupen
      - name: Log greeting time
        run: echo "${{steps.greet.outputs.time}}"